<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:insert="header.html" id="header"></div>
<head>
  <meta charset="UTF-8">
</head>
<body>
<form method="post" action="/join">
  <div class="container">
    <h1>회원가입</h1>
    <div class="form-group">
      <label for="inputEmail4">userId</label>
      <input type="text" class="form-control" id="inputEmail4" name="user_id" placeholder="사용자 아이디">
    </div>
    <div class="form-group">
      <label for="inputAddress">userName</label>
      <input type="text" class="form-control" id="inputAddress" name="Name" placeholder="사용자 이름">
    </div>
    <div class="form-group">
      <label for="inputPassword4">password</label>
      <input type="password" class="form-control" id="inputPassword4" name="pw" placeholder="사용자 비밀번호">
    </div>

    <button type="submit" class="btn btn-primary">가입 완료</button>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=e3dba092a3b23f43340035247ba71992&redirect_uri=http://localhost:8081/auth/kakao/callback&response_type=code
"><img src="/assets/img/kakao_login_medium.png"></a>
  </div>
</form>
</body>

<!-- Footer-->
<div th:insert="footer.html" id="footer"></div>