<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/save" method="post">
    <div class="container">
        <h1>글쓰기</h1>
        <div class="form-group">
            <label for="boardTitle">글제목</label>
            <input type="text" class="form-control" id="boardTitle" name="boardTitle" placeholder="글제목">
        </div>
        <div class="form-group">
            <label for="boardWriter">작성자</label>
            <input type="text" class="form-control" id="boardWriter" name="boardWriter" placeholder="작성자">
        </div>
        <div class="form-group">
            <label for="boardPass">비밀번호</label>
            <input type="text" class="form-control" id="boardPass" name="boardPass" placeholder="비밀번호">
        </div>
        <div class="form-group">

            <label for="boardContents">글내용</label>
            <textarea class="form-control" id="boardContents" name="boardContents" cols="30" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">작성</button>
    </div>
</form>

</body>
</html>