<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
        <insert id="join" parameterType="member">
            insert into member(user_Id, name, pw)
            values(#{user_Id}, #{name}, #{pw})
        </insert>

        <select id="login" parameterType="member" resultType="member">
            select * from member where user_id = #{user_id} and pw=#{pw}
        </select>
</mapper>